*
{
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Comic Sans Ms', Borel, Handjet, 'Dancing Script', Satisfy, Kalam, Courgette, sans-serif;
}
h1
{
    text-align: center;
    text-decoration: dotted underline;
    font-size: 30px;
    font-weight: 900;
}
#a
{
    top: 0px;
    width: 23px;
    height: 100px;
    position: fixed;
    background-color: #232323;
}
.link
{
    text-decoration: none;
    background-color: #232323;
    font-weight: 900;
    color: #d9232e;
    margin-right: 6px;
}
.link:hover
{
    background-color: #d6eeee;
}
.line
{
    height: 8px;
    background-color: #232323;
    border: none;
}
.options
{
    border: 2px solid black;
}
#links
{
    top: auto;
    right: 0px;
    position: fixed;
}
#main
{
    margin-left: 150px;
}
@media screen and (max-width: 414px)
{
    #a
    {
        width: 100%;
        height: fit-content;
    }
    #main
    {
        margin-left: 0px;
    }
}
table
{
    border-collapse: collapse;
    width: 100%;
}
th, td
{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
{
    background-color: #d6eeee;
}
